$bgcolor: black;
$textcolor: #f9f9f9;
$fontsize_sm: 18px;
$fontsize_md: 20px;
$fontsize_lg: 25px;
$primary_1: #000;
$primary_2: #34f39f;
$primary_3: #c940ff;
$myfontfamily: sans-serif, Poppins;
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: $primary_1;
  color: $textcolor;
}
.page-container {
  margin: 20px 0;
  border: 1px solid;
  width: 200px;
  .left-bar {
    width: 100px;
    margin-left: 20px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .menu-head {
    text-align: center;
  }
}
h1 {
  margin-top: 20px;
}

.navlink {
  .list {
    display: flex;
    margin: 10px 0;
  }
  .fas {
    margin: 0 10px;
  }
  .list li a {
    color: $textcolor;
  }
}
