$bgcolor: black;
$bgcolor_2: #34f39f;
$textcolor: #f9f9f9;
$textcolor_2: #34f39f;
$fontsize_sm: 18px;
$fontsize_md: 20px;
$fontsize_lg: 25px;
$primary_1: #000;
$primary_2: #c940ff;
$myfontfamily: sans-serif, Poppins;
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background-color: $primary_1;
  color: $textcolor;
}
.page-container {
  margin: 20px 0;
  width: 200px;
  display: flex;
  .left-bar {
    background-color: rgba(111, 104, 96, 0.151);
    width: 240px;
    min-width: 240px;
    padding: 40px;
    margin-left: 200px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .menu-head {
    text-align: left;
    h2 {
      font-size: 12px;
      margin-top: 30px;
      color: grey;
    }
  }
}
h1 {
  margin-top: 20px;
  color: $textcolor;
}

.navlink {
  .list {
    display: flex;
    margin: 18px 0;
  }
  .fas {
    margin: 0 10px;
  }
  .list li a {
    color: $textcolor;
    margin-top: 12px;
  }
  .list li a:hover {
    background-color: $bgcolor_2;
    padding: 5px 15px;
    border-radius: 3px;
    color: $primary_1;
  }
}
.right-side {
  .first-header {
    position: fixed;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin: auto;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
  }
  .first-link a {
    margin: 9px;
  }
  .dif {
    color: grey;
  }
  .search-input {
    padding: 7px;
    background-color: grey;
    color: #fff;
    border: 1px solid grey;
    border-radius: 3px;
  }
}
